<p class="notice"><%= notice %></p>

<div class="user_card_show">
  <%= image_tag(@user.image.url(:med), class: "user_image_container") %>
  <div class="user_container">
    <h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
    <p class="username"><em>Username: </em><%= @user.name %></p>
    <p>
      <% unless (@user.status.blank?) %>
        <%= @user.status.html_safe %>
      <% end %>
    </p>
    <div class="footer">
      <% if (current_user.present? && (current_user.id == @user.id || current_user.roles == "admin")) %>
        <button type="button" class="btn btn-warning"><%= link_to 'Edit', edit_user_path(@user),class: "a_tags" %></button>
        <button type="button" class="btn btn-danger"><%= link_to 'Delete Account', @user, confirm: 'Are you sure?', method: :delete,class: "a_tags" %></button>
      <% end %>
    </div>
  </div>
</div>
<br><br><br>
<div class="user_posts">
  <% if (@posts.count > 0) %>
    <div class="row">
      <h4><em>Posts from the user</em></h4>
      <% @posts.each do |post| %>
        <div class="post_card col-md-3">
          <% unless (post.image_file_name.blank?) %>
            <%= image_tag(post.image.url(:med), class: "post_image_container") %>
          <% end %>
          <div class="post_container">
            <h4><strong><%= post.title %></strong></h4>
            <p>
              <%= sanitize(post.body, :tags=>[]).truncate(44, :separator => " ").html_safe %>
            </p>

            <button type="button" class="btn btn-warning"><%= link_to 'Read more', post_path(post.id), class: "a_tags"%></button>

            <p id = "post_owner">
              Submitted by: <a href = "<%= user_path(post.user_id) %>"><%= get_username(post.user_id) %></a>
              <br>
              Last updated: <%= post.updated_at.strftime("%d/%m/%y") %>
            </p>
          </div>
        </div>
      <% end %>
    </div>

  <% else %>
    <p><strong>There are no posts of this user.</strong></p>

  <% end %>
</div>