<% if (@posts.count > 0) %>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="post_card col-md-3">
        <% unless (post.image_file_name.blank?) %>
          <%= image_tag(post.image.url(:med), class: "post_image_container") %>
        <% end %>
        <div class="post_container">
          <h4><strong><%= post.title %></strong></h4>
          <p>
            <%= sanitize(post.body, :tags=>[]).truncate(44, :separator => " ").html_safe %>
          </p>

          <button type="button" class="btn btn-warning"><%= link_to 'Read more', post_path(post.id), class: "a_tags"%></button>

          <p id = "post_owner">
            Submitted by: <a href = "<%= user_path(post.user_id) %>"><%= get_username(post.user_id) %></a>
            <br>
            Last updated: <%= post.updated_at.strftime("%d/%m/%y") %>
          </p>
        </div>
      </div>
    <% end %>
  </div>

  <%= will_paginate @posts, class: "apple_pagination" %>

<% else %>
  <p><strong>There are no posts of this user.</strong></p>

<% end %>
