<%= form_for( @post) do |post_form| %>
  <div class="field">
    <%= post_form.label :title %><br />
    <%= post_form.text_field :title %>
  </div>
  <div class="field">
    <%= post_form.label :body %><br />
    <%= post_form.text_area :body, :class => "tinymce", :rows => 20, :cols => 110 %>
    <%= tinymce %>
  </div>
    <div class="field" id = "hidden_field_user_id">
      <%= post_form.label :user_id %><br />
      <%= post_form.text_field :user_id, :value => @user_id, :readonly => true%>
    </div>
  <br>
  <div class="actions">
    <%= post_form.submit %>
  </div>
<% end %>
