<% if (@posts.count > 0) %>

  <% @posts.each do |post| %>
    <tr>
      <strong><h4><%= post.title %></h4></strong>
      <p>
        <%= post.body.truncate(100) %>
      </p>
      <button type="button" class="btn btn-warning"><%= link_to 'Show', user_post_path(post.user_id, post.id),class: "a_tags" %></button>
      <% if (current_user.present? && (post.user_id == current_user.id || current_user.roles == "admin")) %>
      <button type="button" class="btn btn-primary"><%= link_to 'Edit', edit_user_post_path(post.user_id, post.id),class: "a_tags" %></button>
      <button type="button" class="btn btn-danger"><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete, class: "a_tags" %></button>
      <% end %>
  <% end %>

  <br />
<% else %>
  <p>
    <strong>
      There are no posts of this user.
    </strong>
  </p>
<% end %>