<%= stylesheet_link_tag "posts.css.scss" %>
<p class="notice"><%= notice %></p>
 
<p>
  <h3>
    <div class="post_title">
      <%= @post.title %>
    </div>
  </h3>
  <div class="post_body">
    <%= @post.body.html_safe %>
  </div>

  <div class="post_owner">
    <p>Submitted by:</p>
    <%= @username%>
  </div>
</p>
