<p class="notice"><%= notice %></p>

<h4 class="post_owner">Submitted by: <%= link_to(@username, user_path(@post.user_id))%> on <%= @post.updated_at.strftime("%d-%m-%y %H:%M:%S") %></h4>

<p>
  <div class="post_title">
    <h3><%= @post.title %></h3>
  </div>
  
  <div class="post_body">
    <% unless (@post.image_file_name.blank?) %>
      <%= image_tag(@post.image.url(:large), class: "post_image") %>
    <% end %>
    
    <%= @post.body.html_safe %>
  </div>
</p>
