<!DOCTYPE html>
<html>
	<head>
		<title>Blog Spot</title>
		<%= stylesheet_link_tag    "application.css.scss", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="header_group">
			<div class="home_header col-md-2" id = "inline">
				<%= link_to 'Blog Spot', root_path %>
			</div>
			<div class="home_header col-md-5" id="inline">
				<%= form_tag search_path, :method => :get do |f| %>
					<%= text_field_tag :q, params[:q], class: "search_bar", placeholder: "Search..." %>
				<% end %>
			</div>
			<div class="account_header col-md-4" id = "inline" >
				<div class="all_users"  id = "inline">
				<%= link_to 'All Users', users_path, class: "header_a_tag" %>
				</div>
			<!-- <nav class = "nav-tab"> -->
				<!-- <span class="input-group-addon">
    				<span class="glyphicon glyphicon-check"></span>
  				</span> -->
  				
				<% if (current_user) %>
				<div class="profile" id = "inline">
					<%= link_to image_tag("ic_profile.png", class: "profile_button"), user_path(current_user)  %>
					</div>
					<div class="sig_out" id = "inline">
					<%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
					</div>
				<% else %>
					<div class="sig_out">
						<%= link_to 'Sign In', new_user_session_path, class: "btn btn-primary" %>
					</div>
				<% end %>
				<!-- </nav> -->
			</div>
		</div>

		<br><br><br>

		<%- flash.each do |name, msg| -%>
			<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
		<%- end -%> 

		<div class="content">
			<%= yield %>
		</div>
		<button class = "btn btn-warning bmd-btn-fab position_fixed">
		<% if (current_user) %>
			<%= link_to image_tag("ic_edit.png", class: "post_create_button"), new_user_post_path(current_user.id) %>
		<% else %>
			<%= link_to image_tag("ic_edit.png", class: "post_create_button"), new_user_session_path %>
		<% end %>
</button>
	</body>
</html>
